# global options
{
	admin off # theres no need for the admin api in railway's environment
	persist_config off # storage isn't persistent anyway
	auto_https off # railway handles https for us, this could in some cases cause issues if left enabled
	# runtime logs
	log {
		format json # set runtime log format to json mode
	}
	# server options
	servers {
		trusted_proxies static private_ranges # trust railway's proxy
	}
}

(cors) {
	@origin header Origin {args[0]}
	header @origin Access-Control-Allow-Origin "{args[0]}"
	header @origin Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
}

# site block, listens on the $PORT environment variable, automatically assigned by railway
:{$PORT} {
	# access logs
	log {
		format json # set access log format to json mode
	}

	handle_path /auth/v1/* {
		import cors localhost:4200
		reverse_proxy auth:9999
	}

	handle_path /rest/v1/* {
		reverse_proxy rest:3000
	}

	handle_path /graphql/v1/* {
		rewrite * /rpc/graphql{path}
		reverse_proxy rest:3000
	}

	handle_path /storage/v1/* {
		reverse_proxy storage:5000
	}

	handle_path /analytics/v1/* {
		reverse_proxy analytics:4000
	}

	handle_path /pg/* {
		reverse_proxy meta:8080
	}

	handle_path /* {
		reverse_proxy studio:3000
	}
}
